<div class="col-md-6">
    <div class="container">
        <div>
            <span class="title-with-button">Ingrese Punto de Venta</span>
            <select style="width:100%" type="text" class="form-control" id="puntoDeVenta" ng-model="vm.puntoDeVenta" ng-options="puntoDeVenta as puntoDeVenta.nombre for puntoDeVenta in vm.puntos" required></select>

            <button class="btn btn-embossed btn-success" type="submit" ng-click="vm.buscar(vm.puntoDeVenta.puntoId)">Ingresar</button>
        </div>
        <span class="title-with-button">Encomiendas</span>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Número</th>
                <th>Destino</th>
                <th>Dirección</th>
                <th>Remitente</th>
                <th>Destinatario</th>
                <th>Seleccionar</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="encomienda in vm.encomiendas">
                <td>{{ encomienda.encomiendaId }}</td>
                <td>{{ encomienda.localidad.nombre }}</td>
                <td>{{ encomienda.direccionDestino }}</td>
                <td>{{ encomienda.remitente.nombre }}</td>
                <td>{{ encomienda.destinatario }}</td>
                <td><input name = "cb" id="cb" type="checkbox"></td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-embossed btn-success" type="submit" ng-click="vm.generar()">Generar Orden</button>

        <hr>

        <span class="title-with-button">Orden de Reparto</span>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Número</th>
                <th>Destino</th>
                <th>Dirección</th>
                <th>Remitente</th>
                <th>Destinatario</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="encomienda in vm.encomiendas">
                <td>{{ encomienda.encomiendaId }}</td>
                <td>{{ encomienda.localidad.nombre }}</td>
                <td>{{ encomienda.direccionDestino }}</td>
                <td>{{ encomienda.remitente.nombre }}</td>
                <td>{{ encomienda.destinatario }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>