 <div class="row">
  <div class="form-group col-md-4 col-md-offset-4">
   <label for="puntoDeVenta col-sm-3" class=" control-label">Ingrese Número de Encomienda</label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Numero de Encomienda" ng-model="vm.id" ng-keyup="$event.keyCode == 13 && vm.buscar(vm.id)">
      <span class="input-group-btn">
      <button type="submit" class="btn" ng-click="vm.buscar(vm.id)"><span class="fui-search"></span></button>
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2 text-center">
    <span class="fa fa-spinner fa-5x fa-pulse" ng-show="vm.load" ></span>
    <span class="alert alert-danger center-block" ng-show="vm.error">{{ vm.error }}</span>
  </div>
</div>

<div class="row" ng-show="vm.estados.length > 0">
    <hr>
    <table class="table table-hover" >
        <thead>
        <tr>
            <th>#</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Sucursal</th>
            <th>Localidad</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="estado in vm.estados">
            <td>{{ estado.estadoEncomiendaId }}</td>
            <td>{{ vm.makeReadable(estado.nombre) }}</td>
            <td>{{ estado.fecha | date: 'd/M/yy h:mm a' }}</td>
            <td>{{ estado.puntoDeVenta.nombre }}</td>
            <td>{{ estado.puntoDeVenta.localidad.nombre }}</td>
        </tr>
        </tbody>
    </table>
</div>
